@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap');


/*GLOBAL*/
body {
    padding-top: 5rem;

}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Playfair Display', serif;
}


main {
    padding: 20px;
}
main.container-fluid {
    width: 50%;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.6rem;
}

nav {
    margin-bottom: 120px;
}

.navbar-brand {
    margin-left: 20px;
}

button.navbar-toggler{
margin-right: 10px;
}

.home_2col {
    margin-bottom: 20px;
}

img.dibley {
    max-width: 100%
}


/*GRID.HTML*/
/*Note: I decided to use hsl color codes because it made it easier to adjust the opacity of the colors. I used hsl color codes, even on colors I didn't change the opacity on because I wanted everything to be consistent */
.container-fluid {
  background-color: hsl(240, 100%, 99%);
}

.wrapper {
  display: grid;
  height: 450px;
  width: 780px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 50px;
  padding: 20px;
}

/* CSS Document */

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Playfair+Display&display=swap");

/*GLOBAL*/
body {
  padding-top: 5rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
}

main {
  padding: 20px;
}
main.container-fluid {
  width: 50%;
}

p {
  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;
}

nav {
  margin-bottom: 120px;
}

.navbar-brand {
  margin-left: 20px;
}

button.navbar-toggler {
  margin-right: 10px;
}

.home_2col {
  margin-bottom: 20px;
}

img.dibley {
  max-width: 100%;
}

/*GRID.HTML*/
/*Note: I decided to use hsl color codes because it made it easier to adjust the opacity of the colors. I used hsl color codes, even on colors I didn't change the opacity on because I wanted everything to be consistent */
.container-fluid {
  background-color: hsl(240, 100%, 99%);
}

.wrapper {
  display: grid;
  height: 450px;
  width: 780px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 1rem;
  margin: 50px;
  padding: 20px;
}

p.grid {
  text-align: center;
  vertical-align: middle;
  font-family: "Poetsen One", sans-serif;
  font-weight: 400;
  font-size: 25px;
  font-style: normal;
}

.box-1 {
  grid-row: 1 / 3;
  grid-column: 1 / 4;
  background-color: hsl(0, 53%, 58%, 0.3);
  border-color: hsl(348, 83%, 47%, 0.6);
  line-height: 150px;
  justify-items: stretch;
  align-items: stretch;
  border: 3px dotted;
  border-radius: 10px;
}

.box-2 {
  grid-row: 3 / 5;
  grid-column: 1 / 2;
  height: 165px;
  width: 230px;
  background-color: hsl(39, 100%, 50%, 0.3);
  border-color: hsl(33, 100%, 50%);
  line-height: 160px;
  justify-items: stretch;
  align-items: stretch;
  border: 3px dotted;
  border-radius: 10px;
}

.box-3 {
  grid-row: 3 / 4;
  grid-column: 2 / 4;
  width: 490px;
  height: 75px;
  background-color: hsl(60, 100%, 94%, 1.2);
  border-color: hsl(51, 100%, 50%, 1.8);
  line-height: 70px;
  justify-items: stretch;
  align-items: stretch;
  border: 3px dotted;
  border-radius: 10px;
}

.box-4 {
  grid-row: 4 / 5;
  grid-column: 2 / 3;
  width: 236px;
  height: 75px;
  background-color: hsl(120, 93%, 79%, 0.3);
  border-color: hsl(115, 27%, 64%, 1.2);
  line-height: 70px;
  justify-items: stretch;
  align-items: stretch;
  border: 3px dotted;
  border-radius: 10px;
}

.box-5 {
  grid-row: 4 / 5;
  grid-column: 3 / 4;
  width: 236px;
  height: 75px;
  background-color: hsl(180, 100%, 94%, 0.8);
  border-color: hsl(182, 25%, 50%);
  line-height: 70px;
  justify-items: stretch;
  align-items: stretch;
  border: 3px dotted;
  border-radius: 10px;
}

.box-6 {
  grid-row: 5 / 6;
  grid-column: 1 / 4;
  height: 65px;
  background-color: hsl(240, 67%, 94%, 0.8);
  border-color: hsl(260, 60%, 65%);
  line-height: 60px;
  justify-items: stretch;
  align-items: stretch;
  border: 3px dotted;
  border-radius: 10px;
}
